@import '../../styles/mixins';
@import '../../styles/breakpoints';

.hero {
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    .category-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}